ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  overflow-x: hidden;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  margin-bottom: 96px;
}

/* ---header----- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  height: 56px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;

  margin-right: 76px;
}

.header-logo .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #333;
}

.header-contacts {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-studio {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li a.header-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
  align-items: center;
}

.header-adress-list {
  display: none;
  gap: 40px;
}

.header-adress-item {
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover,
.header-address-link:focus,
.header-address-link:hover {
  color: #404bbf;
}

.menu-open-btn {
  border-color: transparent;
}

.open-menu-icon {
  fill: #2f2f37;
}

.mob-menu {
  width: 320px;
  height: 640px;
  position: fixed;
  top: 0;
  background-color: #fcfcfc;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;

  border: 1px solid #e7e9fc;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
}
.mob-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  margin-bottom: 168px;
}
.mob-item {
  display: flex;
  flex-wrap: wrap;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:focus,
.mob-link:active {
  color: #404bbf;
}

.menu-close-btn:active,
.menu-close-btn:focus {
  background-color: #404bbf;
}

.menu-close-btn:focus .icon-close {
  fill: #ffffff;
}

.menu-close-btn:active .icon-close {
  fill: #ffffff;
}

.icon-link:focus,
.icon-link:active {
  background-color: #31d0aa;
}

.mob-link {
}
.mob-studio {
}
.mob-contacts {
}
.mob-adress-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-adress-item {
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:focus,
.mob-address-link:active {
  color: #404bbf;
}

/* -----hero------- */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image320.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 72px;

  padding-bottom: 72px;
  margin: 0 auto;
  max-width: 320px;
  margin-bottom: 96px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image320-x2.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background: #404bbf;
}

/* -----advantages------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 72px;
}

.advantages-item {
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* -----team--------- */
.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.names-spec {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
/* ------portfolio---------- */

.portfolio {
  padding-bottom: 32px;
}

/* .picture {
  flex-shrink: 0;
} */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 48px;
  text-align: left;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;

  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.items-wo-img {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----footer------ */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content {
  display: block;
  align-items: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-align: center;
}

.footer-logo-div {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.footer-logo .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  text-align: left;
  max-width: 288px;
  margin-top: 16px;
}
/* --------- */

.soc-media {
  display: block;
  margin-bottom: 72px;
}

.icon-list {
  display: flex;

  justify-content: center;
  gap: 24px;
}

.footer-icon-list {
  display: flex;
  align-content: center;

  gap: 16px;
}

.soc-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;

  border-radius: 50%;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
  fill: #f4f4fd;
}

.team-icon-item {
  width: 40px;
  height: 40px;

  background-color: #4d5ae5;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  background-color: #31d0aa;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.adv-icn {
  display: none;
}

/* /////modal hw5///// */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  margin-left: auto;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding: 0;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:active,
.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover + .icon-close {
  fill: #ffffff;
}

.modal-close-btn:focus .icon-close {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 24px;
  margin-bottom: 16px;
}

.modal-form {
}
.modal-input {
  display: block;
  width: 100%;
  border-radius: 4px;

  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;

  font-size: 12px;
  color: #2e2f42;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:active {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}

.modal-input:hover + .modal-svg {
  fill: #4d5ae5;
}

.modal-text {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  height: 120px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
  background-color: transparent;
}

.modal-text:focus,
.modal-text:hover,
.modal-text:active {
  border-color: #4d5ae5;
}

.modal-text::placeholder {
  font-size: 12px;
  color: #2e2f4261;
}
.label-form {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.modal-field {
  margin-bottom: 8px;
}

.privacy-field {
  margin-bottom: 24px;
}

.modal-imput-wrap {
  position: relative;
}

.check-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;

  align-items: center;
}

.prpol {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 0.25em;
}

.fakecheckbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-text .fakecheckbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.comment-field {
  margin-bottom: 16px;
}

.accept-icon {
}

.submit-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  display: block;
}

.submit-btn:focus,
.submit-btn:hover {
  background: #404bbf;
}

/* ///footer hw5///// */
.footer-sub {
  text-align: center;
  align-items: center;
  display: inline-block;
}

.sub-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
}

.sub-form {
  display: block;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}
.footer-btn-sub {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.footer-btn-sub:hover,
.footer-btn-sub:focus,
.footer-btn-sub:active {
  background: #404bbf;
}

.footer-sub-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}

.label-sub {
}
/* ////////////////// */

@media screen and (min-width: 768px) {
  /* ---header----- */

  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .section {
    margin-bottom: 0px;
  }

  .header-container {
    height: 72px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-adress-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 17px;
    justify-content: flex-end;
  }

  .menu-open-btn {
    display: none;
  }

  /* -----hero------- */
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image768.jpg);
    padding-top: 188px;

    padding-bottom: 188px;
    max-width: 768px;
    margin-bottom: 96px;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image768-x2.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
  }

  /* -----advantages------- */

  .advantages {
    margin-bottom: 110px;
  }

  .advantages-list {
    row-gap: 72px;
    column-gap: 24px;

    text-align: left;
  }

  .advantages-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  /* -----team--------- */

  .team > .container {
    width: 547px;
  }
  .team {
    margin-bottom: 82px;
    padding-top: 82px;
    padding-bottom: 110px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  /* ------portfolio---------- */

  .portfolio {
    margin-bottom: 96px;
  }

  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  /* -----footer------ */

  .footer > .container {
    width: 547px;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: flex-start;
  }

  .footer-content {
    display: flex;

    flex-direction: column;
  }

  .logo-soc {
    display: flex;

    gap: 24px;
  }

  .footer-logo {
    display: flex;
    margin-left: auto;

    display: inline-block;
  }

  .footer-logo-div {
    text-align: left;
  }

  .footer-text {
    display: flex;
    max-width: 263px;
  }
  /* --------- */

  .adv-icn {
    display: none;
  }

  .soc-media {
    display: flex;

    flex-direction: column;
  }

  .footer-icon-list {
    flex-wrap: nowrap;
  }

  /* /////modal hw5///// */

  .modal {
    width: 408px;
    min-height: 584px;
  }

  /* ///footer hw5///// */
  .footer-sub {
    align-content: start;
    display: flex;
    flex-wrap: wrap;
  }

  .sub-form {
    display: flex;
    gap: 24px;
    left: 0;
  }
}

@media screen and (min-width: 1158px) {
  /* ---header----- */

  .section {
    margin-bottom: 120px;
  }

  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-adress-list {
    gap: 40px;
    flex-wrap: nowrap;
  }

  /* -----hero------- */
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);

    max-width: 1158px;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image-normal-x2.jpg);
    }
  }

  /* -----advantages------- */

  .advantages-list {
    row-gap: 0;
    column-gap: 24px;

    flex-wrap: nowrap;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }
  /* -----team--------- */

  .team > .container {
    width: 1158px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    row-gap: 0;

    flex-wrap: nowrap;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  /* ------portfolio---------- */

  .portfolio {
    margin-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* -----footer------ */

  .footer > .container {
    width: 1158px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-content {
    align-items: baseline;
    flex-direction: row;
  }

  .footer-logo-div {
    text-align: left;
    margin-bottom: 0;
  }

  .logo-soc {
    gap: 120px;
  }

  .footer-text {
    min-width: 264px;
  }
  /* --------- */

  .soc-media {
    margin-bottom: 0;
  }

  .soc-media-text {
    text-align: left;
  }

  .icon-item {
  }

  .team-icon-item {
  }

  .img-border {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .adv-icn {
    display: block;
  }

  /* /////modal hw5///// */

  /* ///footer hw5///// */
  .footer-sub {
    margin-left: 80px;
    text-align: left;
  }
}
