ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.section {
  margin-bottom: 96px;
}

/* ---header----- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;

  margin-right: 76px;
}

.header-logo .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #333;
}

.header-contacts {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-studio {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li a.header-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
  align-items: center;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-item {
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover,
.header-address-link:focus,
.header-address-link:hover {
  color: #404bbf;
}

/* -----hero------- */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;

  padding-bottom: 72px;

  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 96px;
  margin-right: 0;
  margin-left: 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background: #404bbf;
}

/* -----advantages------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: block;
  text-align: center;
}

.advantages-item {
  margin-bottom: 72px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* -----team--------- */
.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  display: block;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
  width: 264px;
  height: 428px;
}

.names-spec {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ------portfolio---------- */

.portfolio {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: block;
  text-align: center;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;

  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-image {
  width: 288px;
  height: 280px;
}

.items-wo-img {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----footer------ */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content {
  display: block;
  align-items: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-align: center;
}

.footer-logo-div {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.footer-logo .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  text-align: left;
  max-width: 288px;
  margin-top: 16px;
}
/* --------- */

.soc-media {
  display: block;
  margin-bottom: 72px;
}

.icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  gap: 24px;
}

.footer-icon-list {
  display: flex;
  align-content: center;

  gap: 16px;
}

.soc-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;

  border-radius: 50%;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
  fill: #f4f4fd;
}

.team-icon-item {
  width: 40px;
  height: 40px;

  background-color: #4d5ae5;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  background-color: #31d0aa;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.adv-icn {
  display: none;
}

/* /////modal hw5///// */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  margin-left: auto;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding: 0;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:active,
.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover + .icon-close {
  fill: #ffffff;
}

.modal-close-btn:focus .icon-close {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 24px;
  margin-bottom: 16px;
}

.modal-form {
}
.modal-input {
  display: block;
  width: 100%;
  border-radius: 4px;

  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;

  font-size: 12px;
  color: #2e2f42;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:active {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}

.modal-input:hover + .modal-svg {
  fill: #4d5ae5;
}

.modal-text {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  height: 120px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
  background-color: transparent;
}

.modal-text:focus,
.modal-text:hover,
.modal-text:active {
  border-color: #4d5ae5;
}

.modal-text::placeholder {
  font-size: 12px;
  color: #2e2f4261;
}
.label-form {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.modal-field {
  margin-bottom: 8px;
}

.privacy-field {
  margin-bottom: 24px;
}

.modal-imput-wrap {
  position: relative;
}

.check-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;

  align-items: center;
}

.prpol {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 0.25em;
}

.fakecheckbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-text .fakecheckbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.comment-field {
  margin-bottom: 16px;
}

.accept-icon {
}

.submit-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  display: block;
}

.submit-btn:focus,
.submit-btn:hover {
  background: #404bbf;
}

/* ///footer hw5///// */
.footer-sub {
  text-align: center;
  align-items: center;
  display: inline-block;
}

.sub-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
}

.sub-form {
  display: block;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}
.footer-btn-sub {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.footer-btn-sub:hover,
.footer-btn-sub:focus,
.footer-btn-sub:active {
  background: #404bbf;
}

/* .sub-wrap {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
} */

.footer-sub-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}

.label-sub {
}
/* ////////////////// */

@media screen and (min-width: 768px) {
  /* ---header----- */

  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  nav ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
  }

  nav ul li a.header-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
  }

  .header-address {
    align-items: center;
  }

  .header-adress-list {
    display: flex;
    gap: 40px;
  }

  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* -----hero------- */
  .hero-section {
    padding-top: 188px;

    padding-bottom: 188px;
    max-width: 768px;
    margin: 0 auto;
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    margin: 0 auto;
    min-width: 169px;
    height: 56px;
  }

  /* -----advantages------- */

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
    margin-top: 8px;
  }

  .advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* -----team--------- */

  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .names-spec {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }

  .team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 8px;
  }

  .team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }
  /* ------portfolio---------- */

  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .portfolio-list {
    flex-wrap: wrap;
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
  }

  .portfolio-cover-text {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 40px 32px;

    display: flex;
    align-items: center;
  }

  .portfolio-image {
  }

  .items-wo-img {
    padding: 32px 16px;

    border-top: none;
  }

  .portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
  }

  .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* -----footer------ */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-content {
    display: flex;
    align-items: baseline;
  }

  .footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: flex;
    margin-left: auto;

    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-logo-div {
    margin-right: 120px;
  }

  .footer-logo .accent {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;

    max-width: 264px;
  }
  /* --------- */
  .icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    gap: 24px;
  }
  .icon-item {
    width: 40px;
    height: 40px;
  }
  .icon-link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team-icon-item {
    width: 40px;
    height: 40px;
  }

  .img-border {
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 8px;
  }

  .adv-icn {
    display: none;
  }

  .soc-media {
    display: flex;

    flex-direction: column;
  }

  .soc-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
  }

  .footer-icon-list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    gap: 16px;
  }

  /* /////modal hw5///// */

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
  }

  .modal {
    width: 408px;
    min-height: 584px;

    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;

    padding: 72px 24px 24px 24px;
  }

  .modal-close-btn {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    margin-left: auto;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    padding: 0;
  }

  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;

    padding-top: 24px;
    margin-bottom: 16px;
  }

  .modal-input {
    display: block;
    width: 100%;
    border-radius: 4px;

    height: 40px;

    font-size: 12px;

    padding-left: 38px;
  }

  .modal-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .modal-text {
    display: block;
    width: 100%;
    border-radius: 4px;

    margin-bottom: 16px;
    height: 120px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;

    padding: 8px 16px;

    resize: none;
  }

  .label-form {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;

    display: block;
  }

  .modal-field {
    margin-bottom: 8px;
  }

  .privacy-field {
    margin-bottom: 24px;
  }

  .modal-imput-wrap {
    position: relative;
  }

  .check-text {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;

    align-items: center;
  }

  .prpol {
    margin-left: 0.25em;
  }

  .fakecheckbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;

    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }

  .comment-field {
    margin-bottom: 16px;
  }

  .submit-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    margin: 0 auto;
    min-width: 169px;
    height: 56px;

    margin-top: 24px;
    display: block;
  }

  /* ///footer hw5///// */
  .footer-sub {
    margin-left: 80px;
  }

  .sub-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .sub-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    height: 40px;

    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }
  .footer-btn-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;

    min-width: 165px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-sub-icon {
    margin-left: 16px;
  }

  .footer-input::placeholder {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  /* ---header----- */

  .section {
    margin-bottom: 120px;
  }

  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  nav ul li a {
    position: relative;
  }

  nav ul li a.header-studio::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;

    border-radius: 2px;
  }

  .header-address {
    align-items: center;
  }

  .header-adress-list {
    display: flex;
    gap: 40px;
  }

  .header-adress-item {
  }

  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* -----hero------- */
  .hero-section {
    padding-top: 188px;

    padding-bottom: 188px;
    max-width: 1158px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
  }

  /* -----advantages------- */

  .advantages-list {
    display: flex;
    gap: 24px;
    text-align: left;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantages-text {
    font-weight: 400;
  }
  /* -----team--------- */

  .team-title {
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    margin-bottom: 0;
  }

  .names-spec {
  }

  .team-image {
  }

  .team-subtitle {
  }

  .team-text {
  }
  /* ------portfolio---------- */

  .portfolio {
  }

  .portfolio-title {
  }

  .portfolio-list {
    flex-wrap: wrap;
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    text-align: left;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    margin-bottom: 0;
  }

  .portfolio-cover-wrap {
  }

  .portfolio-cover-text {
  }

  .portfolio-image {
    width: 360px;
    height: 300px;
  }

  .items-wo-img {
    padding: 32px 16px;
  }

  .portfolio-subtitle {
  }

  .portfolio-text {
  }

  /* -----footer------ */
  .footer {
  }

  .footer-content {
    display: flex;
    align-items: baseline;
  }

  .footer-logo {
    display: flex;
    margin-left: auto;

    display: inline-block;
    margin-bottom: 16px;
    text-align: left;
  }

  .footer-logo-div {
    margin-right: 120px;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-logo .accent {
  }

  .footer-text {
    display: flex;

    max-width: 264px;
    margin-top: 0;
  }
  /* --------- */

  .soc-media {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .footer-icon-list {
    flex-wrap: wrap;
  }

  .soc-media-text {
    text-align: left;
  }

  .icon-item {
  }
  .icon-link {
  }

  .team-icon-item {
  }

  .img-border {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .adv-icn {
    display: block;
  }

  /* /////modal hw5///// */

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal {
    width: 408px;
    min-height: 584px;

    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 24px;

    padding: 72px 24px 24px 24px;
  }

  .modal-close-btn {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    padding: 0;
  }

  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;

    padding-top: 24px;
    margin-bottom: 16px;
  }

  .modal-form {
  }
  .modal-input {
    display: block;
    width: 100%;

    height: 40px;

    font-size: 12px;

    padding-left: 38px;
  }

  .modal-svg {
    position: absolute;
    left: 16px;
    top: 50%;
  }

  .modal-text {
    display: block;
    width: 100%;

    margin-bottom: 16px;
    height: 120px;
    font-size: 12px;
    line-height: 117%;

    padding: 8px 16px;
  }

  .label-form {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 117%;

    display: block;
  }

  .modal-field {
    margin-bottom: 8px;
  }

  .privacy-field {
    margin-bottom: 24px;
  }

  .modal-imput-wrap {
    position: relative;
  }

  .check-text {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;

    align-items: center;
  }

  .prpol {
    text-decoration: underline;
    margin-left: 0.25em;
  }

  .fakecheckbox {
    width: 16px;
    height: 16px;

    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .comment-field {
    margin-bottom: 16px;
  }

  .accept-icon {
  }

  .submit-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 169px;
    height: 56px;
    margin-top: 24px;
    display: block;
  }

  /* ///footer hw5///// */
  .footer-sub {
    margin-left: 80px;
    text-align: left;
  }

  .sub-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .sub-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    margin-bottom: 0;
  }
  .footer-btn-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-sub-icon {
    margin-left: 16px;
  }

  .footer-input::placeholder {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
  }
}
